name: Releases
on:
  push:
    tags:
      - 'release-*'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Nix
        uses: cachix/install-nix-action@v30
      - name: Build Project
        shell: bash
        run: |
          nix --extra-experimental-features "flakes nix-command ca-derivations" build .#default
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "result/*"
